{{ header }}
<script type="application/ld+json">
{
 "@context": "https://schema.org",
 "@type": "BreadcrumbList",
 "itemListElement":
 [
 {% for counter, breadcrumb_json in breadcrumbs_json %}
    {% if counter + 1 < breadcrumbs_json|length %}
   {
   "@type": "ListItem",
   "position": {{ counter+1 }},
   "item":
   {
    "@id": "{{ breadcrumb_json.href }}",
    "name": "{{ breadcrumb_json.text }}"
    }
  },
    {% else %}
        {
   "@type": "ListItem",
   "position": {{ counter+1 }},
   "item":
   {
    "name": "{{ breadcrumb_json.text }}"
    }
  }
    {% endif %}
 {% endfor %}
 ]
}
</script>
<div class="head-block">
    <ol class="breadcrumb">
        {% for counter, breadcrumb in breadcrumbs %}
            {% if breadcrumb.check == 'yes' %}
                <li>
                    <span>{{ breadcrumb.text }}</span>
                </li>
            {% elseif counter + 1 < breadcrumbs|length %}
                <li>
                    <a href="{{ breadcrumb.href }}"><span>{{ breadcrumb.text }}</span></a>
                </li>
            {% else %}
                <li>
                    <span>{{ breadcrumb.text }}</span>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
    <h1 class="head-title">{{ heading_title }}</h1>
</div>

<div class="catalog">
    <div class="catalog__sidebar-button main-button">{{ text_filter }}</div>
    <div class="catalog__sidebar">
        {{ column_left }}
    </div>
    <div class="catalog__main">
        {% if products %}
            <div class="catalog__top">
                <select class="sorting-select" name="sorting" id="input-sort" onchange="location = this.value;">
                    {% for sorts in sorts %}
                        {% if sorts.value == '%s-%s'|format(sort, order) %}
                            <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                        {% else %}
                            <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <div class="catalog__top-info">{{ text_find }} <span>{{ count_products }}</span></div>
            </div>
            <div class="catalog__list">
                {% for product in products %}
                    <div class="product__item">
                        <div class="product__title">
                            <a href="{{ product.href }}">{{ product.name }}</a>
                            <ol class="breadcrumb brand-breadcrumb">
                                {% if  product.manufacturer_href %}
                                    <li>
                                        <a href="{{ product.manufacturer_href }}"><span>{{ product.manufacturer }}</span></a>
                                    </li>
                                {% endif %}
                                {% if product.collection %}
                                    <li>
                                        <a href="{{ product.collection_href }}"><span>{{ product.collection }}</span></a>
                                    </li>
                                {% endif %}
                            </ol>
                        </div>
                        <div class="product__image">
                            <a href="{{ product.href }}">
                                <img decoding="async" src="{{ product.image }}"{{ product.image }}" width="370" height="370" alt="{{ product.name }}" class="lazyload">
                            </a>
                        </div>
                        <div class="product__box">
                            <div class="product__price">
                                {% if product.price > 0 %}
                                    {% if product.special %}
                                        <div class="product__price-old">{{ product.price }}</div>
                                        <div class="product__price-new">{{ product.special }}</div>
                                    {% else %}
                                        <div class="product__price-new">{{ product.price }}</div>
                                    {% endif %}
                                {% else %}
                                    <div class="product__no-price-btm" onclick="location.href='{{ product.href }}'">{{ text_no_price }}</div>
                                {% endif %}
                            </div>
                            <span class="product-nav">
                             <span data-id="{{ product.product_id }}" class="{% if product.is_wishlist %}active{% endif %} add-wishlist product__link link-favorite {% if not logged %} loginza {% endif %}" {% if logged %} onclick="{% if product.is_wishlist %} wishlist.remove('{{ product.product_id }}');  {% else %}wishlist.add('{{ product.product_id }}'); {% endif %}"  {% endif %}>
                  <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/front/dist/images/sprite.svg#wishlist"></use>
                  </svg>
                </span>
                            <a class="product__link" href="{{ product.href }}">
                                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="front/dist/images/sprite.svg#link-arrow"></use></svg>
                            </a></span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="catalog__top no_products">{{ text_empty_cat }}</div>
        {% endif %}

        {{ pagination }}

    </div>
</div>

{{ footer }}