{{ header }}

<div class="head-block head-block--center">
  <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
    {% for counter, breadcrumb in breadcrumbs %}
      {% if counter + 1 < breadcrumbs|length %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="{{ breadcrumb.href }}"><span itemprop="name">{{ breadcrumb.text }}</span></a>
            <meta itemprop="position" content="{{ counter+1 }}" />
        </li>
      {% else %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <span itemprop="name">{{ breadcrumb.text }}</span>
            <meta itemprop="position" content="{{ counter+1 }}" />
        </li>
      {% endif %}
    {% endfor %}
  </ol>
  <div class="head-title">{{ heading_title_list }}</div>
</div>

{{ content_top }}

{% if brands %}
  <div class="all-brands">
    <div class="all-brands__title">{{ text_all_brands }}</div>
    <div class="all-brands__list">
      {% for brand in brands %}
        <a href="{{ brand.href }}" class="all-brands__item">
          <img decoding="async" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="{{ brand.image }}" alt="{{ brand.name }}" class="lazyload">
        </a>
      {% endfor %}
    </div>
  </div>
{% endif %}

{{ footer }}