{{ header }}
<div class="head-block">
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        {% for counter, breadcrumb in breadcrumbs %}
            {% if counter + 1 < breadcrumbs|length %}
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="{{ breadcrumb.href }}"><span itemprop="name">{{ breadcrumb.text }}</span></a>
                    <meta itemprop="position" content="{{ counter+1 }}" />
                </li>
            {% else %}
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <span itemprop="name">{{ breadcrumb.text }}</span>
                    <meta itemprop="position" content="{{ counter+1 }}" />
                </li>
            {% endif %}
        {% endfor %}
    </ol>
</div>
<div class="product-page">
    {% if images %}
        <div class="product-page__left">
            <div class="product-page__slider-wrap">
                <div class="product-page__lg-slider">
                    {% for image in images %}
                        <a href="{{ image.popup_big }}" data-fancybox="product-page" class="product-page__lg-slide">
                            <img decoding="async" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="{{ image.popup }}" width="620" height="620" alt="" class="lazyload">
                        </a>
                    {% endfor %}
                </div>
                {% if images|length > 1 %}
                <div class="product-page__sm-slider">
                    {% for image in images %}
                        <div class="product-page__sm-slide">
                            <img decoding="async" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"  data-src="{{ image.thumb }}" width="80" height="80" alt="" class="lazyload">
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="slider-buttons">
                    <div class="slider-buttons__button zoom">
                        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="front/dist/images/sprite.svg#fullpage"></use></svg>
                    </div>
                    {% if video %}
                        <div class="slider-buttons__button video popup-open" data-for="popup-video">
                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="front/dist/images/sprite.svg#play"></use></svg>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="product-page__left">
            <div class="product-page__slider-wrap">
                <div class="product-page__lg-slider">
                    <a href="{{ no_image }}" data-fancybox="product-page" class="product-page__lg-slide">
                        <img decoding="async" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="{{ no_image }}" width="620" height="620" alt="" class="lazyload">
                    </a>
                </div>
                <div style="display: none;" class="product-page__sm-slider">
                    <div class="product-page__sm-slide">
                        <img decoding="async" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="{{ no_image_thumb }}" width="80" height="80" alt="" class="lazyload">
                    </div>
                </div>
                <div class="slider-buttons">
                    <div class="slider-buttons__button zoom">
                        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="front/dist/images/sprite.svg#fullpage"></use></svg>
                    </div>
                    {% if video %}
                        <div class="slider-buttons__button video popup-open" data-for="popup-video">
                            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="front/dist/images/sprite.svg#play"></use></svg>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="product-page__right" id="product">
        <div class="head-block">
           {# <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                {% for counter, breadcrumb in breadcrumbs %}
                    {% if counter + 1 < breadcrumbs|length %}
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a href="{{ breadcrumb.href }}"><span itemprop="name">{{ breadcrumb.text }}</span></a>
                        </li>
                    {% else %}
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span>{{ breadcrumb.text }}</span></li>
                    {% endif %}
                {% endfor %}
            </ol>#}
            <h1 class="head-title">{{ heading_title }}</h1>
        </div>

        <ol class="breadcrumb brand-breadcrumb">
            {% if manufacturer %}
            <li>
                <a href="{{ manufacturer_href }}"><span>{{ manufacturer }}</span></a>
            </li>
            {% endif %}
{% if collection %}
            <li>
                <a href="{{ collection_href }}"><span>{{ collection }}</span></a>
            </li>
            {% endif %}
        </ol>
        <div class="product-page__info">
            <div class="product-page__status product-order"> {% if quantity > 0 %} {{ stock }} {% else %} {{ text_preorder_no_price }} {% endif %}</div>
            <div class="product-page__article">{{ text_model }} <span>{{ model }}</span></div>
        </div>
        {% if options %}
            {% for option in options %}
                <div class="product-page__color">
                    <select class="select-color" name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}">
                        <option value="" selected disabled>{{ text_select }}</option>
                        {% for option_value in option.product_option_value %}
                            <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}{% if option_value.price %} ({{ option_value.price_prefix }}{{ option_value.price }}){% endif %}</option>
                        {% endfor %}
                    </select>
                    <div class="select-label">{{ option.name }}:</div>
                </div>
            {% endfor %}
        {% endif %}

        <div class="product-page__options">
            <div class="product-quantity">
                <button class="product-quantity__button product-quantity__minus"><svg xmlns="http://www.w3.org/2000/svg" width="7" height="1" viewBox="0 0 7 1"><rect  class="cls-1" width="7" height="1"/></svg></button>
                <input class="product-quantity__input" type="number" name="quantity" value="1" min="{{ minimum }}" max="999" readonly>
                <button class="product-quantity__button product-quantity__plus"><svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7"><path d="M1308,350h7v1h-7v-1Zm3-3h1v7h-1v-7Z" transform="translate(-1308 -347)"/></svg></button>
            </div>
            {% if price > 0  %}
            <div class="product-page__price">
                {% if special %}
                    <div class="product-page__old-price">{{ price }}</div>
                    <div class="product-page__new-price">{{ special }}</div>
                {% else %}
                    <div class="product-page__new-price">{{ price }}</div>
                {% endif %}
            </div>
            {% else %}
                <!-- if no have price -->
                <div class="product-page__price">
                    <div style="display: none;" class="request-price__title">{{ text_no_price }}</div>
                    <div class="basket-popup__alert">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.99966 0C3.58197 0 0 3.58197 0 7.99966C0 12.4174 3.58197 16 7.99966 16C12.4174 16 16 12.4174 16 7.99966C16 3.58197 12.4174 0 7.99966 0ZM9.66502 12.3984C9.25325 12.5609 8.92546 12.6842 8.67962 12.7695C8.43445 12.8549 8.14933 12.8975 7.82493 12.8975C7.32648 12.8975 6.93841 12.7756 6.6621 12.5325C6.38578 12.2894 6.2483 11.9812 6.2483 11.6067C6.2483 11.4611 6.25845 11.3121 6.27877 11.1604C6.29977 11.0087 6.33295 10.838 6.37833 10.6463L6.89371 8.8259C6.93909 8.65117 6.97837 8.48525 7.00952 8.33084C7.04068 8.17507 7.05558 8.03217 7.05558 7.90214C7.05558 7.67052 7.00749 7.50798 6.912 7.41655C6.81515 7.32512 6.63297 7.28042 6.3614 7.28042C6.22866 7.28042 6.09185 7.30006 5.95166 7.34138C5.81283 7.38404 5.69228 7.42265 5.5934 7.46057L5.72952 6.89981C6.06679 6.76233 6.38984 6.64449 6.69799 6.54696C7.00614 6.44808 7.29735 6.39932 7.57164 6.39932C8.06671 6.39932 8.44868 6.51987 8.71754 6.75826C8.98506 6.99733 9.11983 7.30819 9.11983 7.69016C9.11983 7.7694 9.11035 7.90891 9.09206 8.10802C9.07378 8.30781 9.03924 8.48999 8.98912 8.65727L8.47644 10.4723C8.43445 10.6179 8.39721 10.7845 8.36334 10.9708C8.33016 11.157 8.3139 11.2992 8.3139 11.3947C8.3139 11.6358 8.36741 11.8004 8.47577 11.8877C8.58277 11.9751 8.77037 12.0191 9.03585 12.0191C9.16114 12.0191 9.30133 11.9968 9.45981 11.9534C9.61693 11.9101 9.73071 11.8715 9.8025 11.8383L9.66502 12.3984ZM9.57426 5.03128C9.3352 5.25342 9.04737 5.36449 8.71077 5.36449C8.37486 5.36449 8.08499 5.25342 7.84389 5.03128C7.60415 4.80914 7.48292 4.53892 7.48292 4.22332C7.48292 3.9084 7.60483 3.6375 7.84389 3.41333C8.08499 3.18849 8.37486 3.07674 8.71077 3.07674C9.04737 3.07674 9.33587 3.18849 9.57426 3.41333C9.81333 3.6375 9.93321 3.9084 9.93321 4.22332C9.93321 4.5396 9.81333 4.80914 9.57426 5.03128Z" fill="url(#paint0_linear1)"></path>
                            <defs>
                                <linearGradient id="paint0_linear1" x1="0.301887" y1="8.63308" x2="15.5979" y2="8.62087" gradientUnits="userSpaceOnUse">
                                    <stop offset="0" stop-color="#8F6D55"></stop>
                                    <stop offset="1" stop-color="#4D4444"></stop>
                                </linearGradient>
                            </defs>
                        </svg>
                        {{ text_product_txt_price }}

                    </div>
                    <div href="#" class="request-price__button">
                      <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23.6284 12.7614C23.4325 12.7426 23.2584 12.8863 23.2396 13.0823C22.9908 15.6816 21.835 18.1319 19.9853 19.9818C18.1553 21.8115 15.8318 22.9303 13.2659 23.2174C10.7748 23.4961 8.23321 22.9323 6.10924 21.63C5.94132 21.527 5.72193 21.5797 5.61903 21.7475C5.51613 21.9153 5.56875 22.1348 5.73657 22.2377C7.61787 23.3913 9.80672 23.9999 12.0158 23.9999C12.4588 23.9999 12.9029 23.9754 13.3453 23.9259C14.6687 23.7778 15.9473 23.4148 17.1455 22.8468C18.3853 22.2591 19.5104 21.4648 20.4894 20.4859C22.456 18.5193 23.6847 15.9141 23.9493 13.1502C23.968 12.9543 23.8244 12.7802 23.6284 12.7614Z" fill="url(#paint0_linear)"/>
                        <path d="M20.039 6.27574C20.0474 6.27631 20.0557 6.27664 20.064 6.27664C20.2496 6.27664 20.4062 6.13282 20.4192 5.94485L20.5139 4.57927C22.2273 6.54032 23.2074 9.01981 23.2902 11.6414C23.2963 11.8344 23.4546 11.9866 23.6463 11.9866C23.6501 11.9866 23.6539 11.9866 23.6577 11.9864C23.8545 11.9802 24.009 11.8156 24.0027 11.6189C23.9153 8.85237 22.8884 6.23467 21.0919 4.15718L22.3713 4.24591C22.5668 4.25936 22.7379 4.11136 22.7516 3.91498C22.7652 3.71859 22.617 3.54834 22.4206 3.5347L20.2394 3.38342C20.0437 3.36992 19.8728 3.51797 19.8592 3.71436L19.7079 5.89551C19.6944 6.09185 19.8425 6.2621 20.039 6.27574Z" fill="url(#paint1_linear)"/>
                        <path d="M3.9741 17.7242C3.77777 17.7106 3.60747 17.8588 3.59383 18.0552L3.49916 19.4209C1.6998 17.3646 0.716825 14.7581 0.716825 12.0001C0.716825 8.98501 1.89105 6.15026 4.0232 4.01806C5.85284 2.18843 8.17619 1.06957 10.742 0.782501C13.233 0.50375 15.7747 1.06757 17.8986 2.36993C18.0666 2.47293 18.286 2.42022 18.3889 2.2524C18.4918 2.08458 18.4391 1.86509 18.2713 1.76219C16.0128 0.377278 13.3104 -0.222287 10.6628 0.0740021C9.33934 0.222052 8.0608 0.585118 6.86266 1.15308C5.6229 1.74076 4.49796 2.53505 3.51903 3.51393C1.25223 5.78078 0.00390625 8.79457 0.00390625 12.0001C0.00390625 14.9113 1.03365 17.664 2.92055 19.8427L1.64172 19.754C1.44533 19.7402 1.27509 19.8886 1.26145 20.085C1.24785 20.2814 1.396 20.4516 1.59243 20.4652L3.77358 20.6165C3.782 20.6171 3.79031 20.6174 3.79858 20.6174C3.98418 20.6174 4.14079 20.4736 4.15386 20.2856L4.30514 18.1045C4.31868 17.9081 4.17054 17.7378 3.9741 17.7242Z" fill="url(#paint2_linear)"/>
                        <path d="M13.5023 11.4876C13.0782 11.2447 12.6273 11.0597 12.1809 10.8677C11.9219 10.7566 11.6742 10.6271 11.4554 10.4467C11.0246 10.0904 11.1072 9.51215 11.6117 9.28314C11.7545 9.21837 11.9041 9.19755 12.0559 9.1883C12.6407 9.15592 13.1965 9.26695 13.7255 9.53065C13.9889 9.6625 14.076 9.62086 14.1652 9.33634C14.259 9.03563 14.3371 8.73029 14.4242 8.42727C14.4822 8.22371 14.4108 8.08955 14.2255 8.00396C13.8862 7.84898 13.538 7.73794 13.1719 7.6778C12.6943 7.60147 12.6943 7.59915 12.692 7.10182C12.6898 6.40093 12.6898 6.40093 12.0112 6.40093C11.913 6.40093 11.8148 6.39862 11.7166 6.40093C11.3996 6.41018 11.346 6.46801 11.3371 6.7988C11.3327 6.94684 11.3371 7.09488 11.3349 7.24524C11.3327 7.68474 11.3304 7.6778 10.9242 7.83047C9.94203 8.20058 9.33489 8.89453 9.27016 10.0049C9.21212 10.9879 9.70766 11.6518 10.4867 12.1353C10.9666 12.4337 11.4978 12.6095 12.0068 12.8431C12.2054 12.9333 12.3952 13.0374 12.5603 13.1808C13.0492 13.5995 12.9599 14.2958 12.3795 14.5595C12.0693 14.7006 11.7411 14.7353 11.4041 14.6913C10.884 14.6243 10.3862 14.4832 9.91748 14.231C9.64292 14.083 9.56257 14.1223 9.46882 14.4299C9.38846 14.696 9.31703 14.9643 9.2456 15.2326C9.14962 15.5935 9.18533 15.6791 9.51792 15.8479C9.94203 16.0607 10.3952 16.1695 10.8572 16.2458C11.2188 16.3059 11.23 16.3221 11.2344 16.7107C11.2367 16.8865 11.2367 17.0646 11.2389 17.2404C11.2411 17.4625 11.3438 17.5921 11.5648 17.5967C11.8148 17.6013 12.067 17.6013 12.317 17.5944C12.5224 17.5897 12.6273 17.4741 12.6273 17.259C12.6273 17.0184 12.6385 16.7755 12.6295 16.5349C12.6184 16.2897 12.7211 16.1648 12.9487 16.1001C13.4733 15.952 13.9197 15.6606 14.2635 15.2257C15.2188 14.0228 14.855 12.2625 13.5023 11.4876Z" fill="url(#paint3_linear)"/>
                        <defs>
                        <linearGradient class="paint0_linear" x1="5.91328" y1="18.8246" x2="23.4889" y2="18.8016" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#8F6D55"/>
                        <stop offset="1" stop-color="#4D4444"/>
                        </linearGradient>
                        <linearGradient class="paint1_linear" x1="19.7881" y1="8.02503" x2="23.895" y2="8.02339" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#8F6D55"/>
                        <stop offset="1" stop-color="#4D4444"/>
                        </linearGradient>
                        <linearGradient id="paint2_linear" x1="0.351785" y1="11.1245" x2="17.9782" y2="11.1119" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#8F6D55"/>
                        <stop offset="1" stop-color="#4D4444"/>
                        </linearGradient>
                        <linearGradient id="paint3_linear" x1="9.30488" y1="12.4431" x2="14.6585" y2="12.4409" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#8F6D55"/>
                        <stop offset="1" stop-color="#4D4444"/>
                        </linearGradient>
                        </defs>
                      </svg>
                      <span>{{ text_get_price }}</span>
                    </div>
                </div>
                <!-- if no have price end -->
            {% endif %}
        </div>

        <div class="product-page__buttons">
            <input type="hidden" name="product_id" value="{{ product_id }}" />
            <a class="main-button" href="#" id="button-cart">{{ button_cart_txt }}</a>
            <div class="{% if logins_wishlist %} loginza {% endif %} add-wishlist{% if is_wishlist %} active{% endif %}" data-id="{{ product_id }}" {% if is_wishlist %}onclick="wishlist.remove('{{ product_id }}');"{% else %}onclick="wishlist.add('{{ product_id }}');"{% endif %}>
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="front/dist/images/sprite.svg#wishlist"></use></svg>
            </div>
            {% if price < 1  %}
                <div class="basket-popup__alert">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.99966 0C3.58197 0 0 3.58197 0 7.99966C0 12.4174 3.58197 16 7.99966 16C12.4174 16 16 12.4174 16 7.99966C16 3.58197 12.4174 0 7.99966 0ZM9.66502 12.3984C9.25325 12.5609 8.92546 12.6842 8.67962 12.7695C8.43445 12.8549 8.14933 12.8975 7.82493 12.8975C7.32648 12.8975 6.93841 12.7756 6.6621 12.5325C6.38578 12.2894 6.2483 11.9812 6.2483 11.6067C6.2483 11.4611 6.25845 11.3121 6.27877 11.1604C6.29977 11.0087 6.33295 10.838 6.37833 10.6463L6.89371 8.8259C6.93909 8.65117 6.97837 8.48525 7.00952 8.33084C7.04068 8.17507 7.05558 8.03217 7.05558 7.90214C7.05558 7.67052 7.00749 7.50798 6.912 7.41655C6.81515 7.32512 6.63297 7.28042 6.3614 7.28042C6.22866 7.28042 6.09185 7.30006 5.95166 7.34138C5.81283 7.38404 5.69228 7.42265 5.5934 7.46057L5.72952 6.89981C6.06679 6.76233 6.38984 6.64449 6.69799 6.54696C7.00614 6.44808 7.29735 6.39932 7.57164 6.39932C8.06671 6.39932 8.44868 6.51987 8.71754 6.75826C8.98506 6.99733 9.11983 7.30819 9.11983 7.69016C9.11983 7.7694 9.11035 7.90891 9.09206 8.10802C9.07378 8.30781 9.03924 8.48999 8.98912 8.65727L8.47644 10.4723C8.43445 10.6179 8.39721 10.7845 8.36334 10.9708C8.33016 11.157 8.3139 11.2992 8.3139 11.3947C8.3139 11.6358 8.36741 11.8004 8.47577 11.8877C8.58277 11.9751 8.77037 12.0191 9.03585 12.0191C9.16114 12.0191 9.30133 11.9968 9.45981 11.9534C9.61693 11.9101 9.73071 11.8715 9.8025 11.8383L9.66502 12.3984ZM9.57426 5.03128C9.3352 5.25342 9.04737 5.36449 8.71077 5.36449C8.37486 5.36449 8.08499 5.25342 7.84389 5.03128C7.60415 4.80914 7.48292 4.53892 7.48292 4.22332C7.48292 3.9084 7.60483 3.6375 7.84389 3.41333C8.08499 3.18849 8.37486 3.07674 8.71077 3.07674C9.04737 3.07674 9.33587 3.18849 9.57426 3.41333C9.81333 3.6375 9.93321 3.9084 9.93321 4.22332C9.93321 4.5396 9.81333 4.80914 9.57426 5.03128Z" fill="url(#paint0_linear2)"></path>
                        <defs>
                            <linearGradient id="paint0_linear2" x1="0.301887" y1="8.63308" x2="15.5979" y2="8.62087" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#8F6D55"></stop>
                                <stop offset="1" stop-color="#4D4444"></stop>
                            </linearGradient>
                        </defs>
                    </svg>
                    {{ text_product_txt_price2 }}
                </div>
            {% endif %}
        </div>

        {% if attribute_groups or description %}
            <div class="info-box">
                {% if attribute_groups %}
                    <div class="info-box__item acardion__item active">
                        <div class="info-box__title acardion__title">{{ tab_attribute }}</div>
                        <div style="height: auto;" class="info-box__inner acardion__inner">
                            {% for attribute_group in attribute_groups %}
                                <div class="info-box__content acardion__content">
                                    <ul>
                                        {% for attribute in attribute_group.attribute %}
                                            <li>{{ attribute.name }}: <span {% if attribute.attribute_id==69 %} style="text-transform: initial;" {% endif %}>{{ attribute.text|replace({',': ", "}) }}</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if description %}
                    <div class="info-box__item">
                        <div class="info-box__title info-box__title-descr acardion__title" style="pointer-events: none;">{{ tab_description }}</div>
                        <div class="info-box__inner" style="height: auto;">
                            <div class="info-box__content acardion__content">
                                {{ description }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>

{% if products %}
    <div class="collection-products">
        <div class="collection-products__title">{{ text_related }}</div>
        <div class="collection-products__list">
            {% for product in products %}
                <div class="product__item">
                <div class="product__title">
                    <a href="{{ product.href }}">{{ product.name }}</a>
                    <ol class="breadcrumb brand-breadcrumb">
                        {% if  product.manufacturer_href %}
                            <li>
                                <a href="{{ product.manufacturer_href }}"><span>{{ product.manufacturer }}</span></a>
                            </li>
                        {% endif %}
                        {% if product.collection %}
                            <li>
                                <a href="{{ product.collection_href }}"><span>{{ product.collection }}</span></a>
                            </li>
                        {% endif %}
                    </ol>
                </div>
                <div class="product__image">
                    <a href="{{ product.href }}">
                        <img decoding="async" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-src="{{ product.thumb }}" width="370" height="370" alt="{{ product.name }}" class="lazyload">
                    </a>
                </div>
                <div class="product__box">
                    <div class="product__price">
                        {% if product.price > 0 %}
                            {% if product.special %}
                                <div class="product__price-old">{{ product.price }}</div>
                                <div class="product__price-new">{{ product.special }}</div>
                            {% else %}
                                <div class="product__price-new">{{ product.price }}</div>
                            {% endif %}
                        {% else %}
                            <div class="product__no-price-btm" onclick="location.href='{{ product.href }}'">{{ text_no_price }}</div>
                        {% endif %}
                    </div> <span class="product-nav">
                    <span class="product__link link-favorite loginza" onclick="wishlist.add('{{ product.product_id }}');">
                  <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/front/dist/images/sprite.svg#wishlist"></use>
                  </svg>
                </span>
                    <a class="product__link" href="{{ product.href }}">
                        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="front/dist/images/sprite.svg#link-arrow"></use></svg>
                    </a></span>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="{{ combination_link }}" class="show-all">{{ text_all_combinations }}</a>
    </div>
{% endif %}

<script>
    $('#button-cart').on('click', function(event){
        event.preventDefault();
        $.ajax({
            url: 'index.php?route=checkout/cart/add',
            type: 'post',
            data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'number\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
            dataType: 'json',
            success: function(json){
                $('p.error').remove();
                $('.select').removeClass('error');

                if (json['error']) {
                    if (json['error']['option']) {
                        for (i in json['error']['option']) {
                            var element = $('#input-option' + i.replace('_', '-'));
                            element.addClass('error');
                            element.after('<p class="error">' + json['error']['option'][i] + '</p>');
                        }
                    }
                }

                if (json['success']) {
                    $('#cart-total').html(json['total']);
                    $('.cart-add-popup').addClass('active');
                    $('#cart').load('index.php?route=common/cart/info');
                    setTimeout(function() {
                        $('.scroll-text').mCustomScrollbar();
                    }, 300);
                    setTimeout(function() {
                        $('.cart-add-popup.active').removeClass('active');
                    }, 3000);
                }
            },
            error: function(xhr, ajaxOptions, thrownError){
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $('.request-price__button').on('click', function(event){
        event.preventDefault();
        $('.popup-product').addClass('active');
    });
</script>

{% if video %}
    <div class="popup popup-video">
        <div class="popup__overlay"></div>
        <div class="popup__holder popup__holder--video">
            <div class="popup__close">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="front/dist/images/sprite.svg#close"></use></svg>
            </div>
            <div class="popup__content">
                <div class="video-popup">
                    <iframe src="{{ video }}" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% if price < 1 %}
    <div class="popup popup-product">
        <div class="popup__overlay"></div>
        <div class="popup__holder">
            <div class="popup__close">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="front/dist/images/sprite.svg#close"></use></svg>
            </div>
            <div class="popup__content">
                <div class="popup__title">{{ text_product_title }}</div>
                <form class="popup__form" method="post" id="product-form">
                    <div class="form-block">
                        <input class="main-input" type="text" name="product_name">
                        <div class="form-label">{{ text_form_name }}</div>
                    </div>
                    <div class="form-block">
                        <input class="main-input" type="tel" name="product_phone">
                        <div class="form-label">{{ text_form_phone }}</div>
                    </div>
                    <input class="main-input" type="hidden" name="product_href" value="{{ product_href }}">
                    <button class="submit-button" type="submit" id="product-send">{{ text_product_title }}</button>
                </form>
            </div>
        </div>
    </div>
{% endif %}

{{ footer }} 
