<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forgot password</title>
</head>


<body style="font-size: 14px; line-height: 21px; background-color: #fff; font-family: 'Arial', sans-serif; color:#434343;">
<div style="width: 600px; margin: 0 auto;">
    <div style="text-align: center; padding: 17px 0;">
        <img decoding="async" src="{{ domain_url }}/front/dist/data/logo.png" width="133" height="24" alt="{{ domain_name }}">
    </div>

    <div style="background-image: url('{{ domain_url }}/front/dist/data/top-image-forgot.png'); height: 290px">
    </div>

    <div style="padding: 30px;">
        <p style="font-size: 20px;line-height: 22px;font-weight: bold; margin:0 0 25px;">{{ text_forgot_hello }}</p>
        <p style="margin: 25px 0;">{{ forgot_send }}</p>
        <p style="margin: 25px 0;">{{ text_forgot_link }} <a style="color: #b79c4c;" href="{{ reset }}">{{ reset }}</a></p>
        <p style="margin: 25px 0;">{{ text_forgot_maybe }}</p>
        <p style="color: #000;">{{ text_forgot_ignore }}</p>
    </div>
    <hr style="border: solid #EFEFEF; border-width: 1px 0 0;">
    <div style="padding: 30px;">
        <div style="text-align: center; padding: 17px 0;">
            <img decoding="async" src="data/logo.png" width="133" height="24" alt="">
        </div>
        <p style="margin: 15px 0 25px; text-align: center;">{{ forgot_register }}</p>
        <p style="text-align: center; color: #9a9a9a;">{{ forgot_copy }}</p>
    </div>
</div>
</body>

</html>