{{ header }}
<div class="page-error">
  <div class="page-error__image">
    <img decoding="async" src="front/dist/data/error-image.png" width="1016" height="510" alt="{{ heading_title }}">
  </div>
  <div class="page-error__title">{{ heading_title }}</div>
  <div class="page-error__text">{{ text_error }}</div>
  <a class="main-button" href="{{ continue }}">{{ button_continue }}</a>
</div>
{{ footer }}