{% if products %}
	<div class="popular-products">
		<div class="main-subtitle">{{ heading_title }}</div>
		<div class="popular-products__top">
			<div class="popular-products__title">{{ text_store }}</div>
			<div class="popular-products__navigation">
				<div class="prev-arrow"></div>
				<div class="next-arrow"></div>
				<span class="popular-products__progress"></span>
			</div>
		</div>
		<div class="popular-products__slider">
			{% for product in products %}
				<div class="product__item">
					<div class="product__title">
						<a href="{{ product.href }}">{{ product.name }}</a>
					</div>
					<div class="product__image">
						<a href="{{ product.href }}">
							<img src="catalog/view/theme/empirehall/data/logo.svg" data-src="{{ product.image }}" width="370" height="370" alt="" class="lazyload">
						</a>
					</div>
					<div class="product__box">
						{% if product.price > 0 %}
								<div class="product__price">
									{% if product.special %}
										<div class="product__price-old">{{ product.price }}</div>
										<div class="product__price-new">{{ product.special }}</div>
									{% else %}
										<div class="product__price-new">{{ product.price }}</div>
									{% endif %}
								</div>
						{% else %}
							<div class="product__price">
								<div class="product__no-price-text">{{ text_no_price }}</div>
								<div class="product__no-price-btm popup-open" data-for="popup-callback">{{ text_get_price }}</div>
							</div>
						{% endif %}
						<a class="product__link" href="{{ product.href }}">
							<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="catalog/view/theme/empirehall/images/sprite.svg#link-arrow"></use></svg>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
		<a class="show-all" href="{{ all_offers }}">{{ text_all_prods }}</a>
	</div>
{% endif %}