<div class="main-content">
	<div class="main-content__inner">
		<div class="main-content__decore">
			<img src="catalog/view/theme/empirehall/data/logo.svg" data-src="catalog/view/theme/empirehall/data/content-decore-img.svg"  alt="{{ heading_title }}" class="lazyload">
		</div>
		<div class="main-content__content">
			<div class="main-content__title">Empire hall</div>
			<div class="main-content__subtitle">{{ heading_title }}</div>
			<div class="main-content__text text scroll-text">
				{{ html }}
			</div>
			<a href="{{ about_link }}" class="show-all">{{ text_more_btn }}</a>
		</div>
		<div class="main-content__image">
			<img src="catalog/view/theme/empirehall/data/logo.svg" data-src="{{ image }}"  alt="" class="lazyload">
			<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="catalog/view/theme/empirehall/images/sprite.svg#content-img-bg"></use></svg>
		</div>
	</div>
</div>