
{% if category_id !='1' %}

    <div class="list-group-item ocfilter-option filter-item {% if option.option_id=='m' or option.option_id=='s' %}group--uppercase{% endif %}" id="option-{{ option.option_id }}">
        {% if option.option_id!='s' %}
        <div class="option-name">
            {{ option.name }}:
        </div>
        {% endif %}
        {% if option.type == 'slide' or option.type == 'slide_dual' %}
            <span id="left-value-{{ option.option_id }}">{{ option.slide_value_min_get }}</span>
            {% if option.type == 'slide_dual' %}
                -&nbsp;<span id="right-value-{{ option.option_id }}">{{ option.slide_value_max_get }}</span>
            {% endif %}
            {{ option.postfix }}
        {% endif %}

        {#    <div class="option-values__wrap">#}
        {#        <div class="option-values ocf-option-values option-values--radio">#}
        {% if option.type == 'slide' or option.type == 'slide_dual' %}
            {% include 'default/template/extension/module/ocfilter/filter_slider_item.twig' %}
        {% else %}



            {% if option.selectbox %}
                <div class=" option-values option-values--radio ">
                    <button class="btn btn-block btn-{{ (selecteds[option.option_id] is defined) ? 'warning' : 'default' }} dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="pull-right fa fa-angle-down"></i>
                        <span class="pull-left text-left">
        	{% if selecteds[option.option_id] is defined %}

                {% for value in selecteds[option.option_id].values %}
                    {{ value.name }}<br />
                {% endfor %}

            {% else %}
                {{ text_any }}
            {% endif %}
        </span>
                    </button>
                    <div class="label-wrap">
                        {% include 'default/template/extension/module/ocfilter/value_list.twig' %}
                    </div>
                </div>
            {% else %}
                {% include 'default/template/extension/module/ocfilter/value_list.twig' %}
            {% endif %}



        {% endif %}
        {#        </div>#}
        {#    </div>#}
    </div>

{% else %}

{% if option.option_id=='m' or option.option_id=='s' or filtr or option.option_id=='10012' %}
    <div class="list-group-item ocfilter-option filter-item {% if option.option_id=='m' or option.option_id=='s' %}group--uppercase{% endif %}" id="option-{{ option.option_id }}">
        {% if option.option_id!='s' %}
            <div class="option-name">
                {{ option.name }}:
            </div>
        {% endif %}
        {% if option.type == 'slide' or option.type == 'slide_dual' %}
            <span id="left-value-{{ option.option_id }}">{{ option.slide_value_min_get }}</span>
            {% if option.type == 'slide_dual' %}
                -&nbsp;<span id="right-value-{{ option.option_id }}">{{ option.slide_value_max_get }}</span>
            {% endif %}
            {{ option.postfix }}
        {% endif %}

        {#    <div class="option-values__wrap">#}
        {#        <div class="option-values ocf-option-values option-values--radio">#}
        {% if option.type == 'slide' or option.type == 'slide_dual' %}
            {% include 'default/template/extension/module/ocfilter/filter_slider_item.twig' %}
        {% else %}



            {% if option.selectbox %}
                <div class=" option-values option-values--radio ">
                    <button class="btn btn-block btn-{{ (selecteds[option.option_id] is defined) ? 'warning' : 'default' }} dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="pull-right fa fa-angle-down"></i>
                        <span class="pull-left text-left">
        	{% if selecteds[option.option_id] is defined %}

                {% for value in selecteds[option.option_id].values %}
                    {{ value.name }}<br />
                {% endfor %}

            {% else %}
                {{ text_any }}
            {% endif %}
        </span>
                    </button>
                    <div class="label-wrap">
                        {% include 'default/template/extension/module/ocfilter/value_list.twig' %}
                    </div>
                </div>
            {% else %}
                {% include 'default/template/extension/module/ocfilter/value_list.twig' %}
            {% endif %}



        {% endif %}
        {#        </div>#}
        {#    </div>#}

    </div>
{% endif %}

{% endif %}
